    .btn {
    display: flex;
    width: 284px;
    height: 106px;
    padding: 10px 0px 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 52px;
    background: linear-gradient(90deg, #FFFAEA 14.17%, #F6E548 100%);
    color: #171616;
    text-align: center;
    font-family: "Martian Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}

    .btn:hover {
    background: F6E548;}

    .btn.focus {
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    }