<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: radial-gradient(99.98% 99.21% at 47489.60% -845.37%, rgba(5.10, 75.90, 255, 0.23) 50%, rgba(11.90, 0, 50.99, 0.23) 100%)">
    <img style="width: 1121px; height: 1102px; left: 618px; top: -28px; position: absolute; border-radius: 500px" src="https://via.placeholder.com/1121x1102" />
    <div style="width: 220px; height: 658px; left: 150px; top: 144px; position: absolute; border-radius: 500px">
        <div style="width: 220px; height: 62.58px; padding: 10px; left: 0px; top: 0px; position: absolute; background: linear-gradient(270deg, #78739C 0%, #E7D2BC 100%); border-radius: 45px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: black; font-size: 20px; font-family: Martian Mono; font-weight: 400; word-wrap: break-word">Религия</div>
        </div>
        <div style="width: 220px; height: 62.58px; padding: 10px; left: 0px; top: 142.15px; position: absolute; background: linear-gradient(270deg, #78739C 0%, #E7D2BC 100%); border-radius: 45px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="width: 157px; text-align: center; color: black; font-size: 20px; font-family: Martian Mono; font-weight: 400; word-wrap: break-word">Искусство</div>
        </div>
        <div style="width: 220px; height: 62.58px; padding: 10px; left: 0px; top: 284.30px; position: absolute; background: linear-gradient(270deg, #78739C 0%, #E7D2BC 100%); border-radius: 45px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="text-align: center; color: black; font-size: 20px; font-family: Martian Mono; font-weight: 400; word-wrap: break-word">Мода</div>
        </div>
        <div style="width: 220px; height: 62.58px; padding: 10px; left: 0px; top: 426.45px; position: absolute; background: linear-gradient(270deg, #78739C 0%, #E7D2BC 100%); border-radius: 45px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="width: 211px; height: 20px; text-align: center; color: black; font-size: 20px; font-family: Martian Mono; font-weight: 400; word-wrap: break-word">Великие державы</div>
        </div>
        <div style="width: 220px; height: 62.58px; padding: 10px; left: 0px; top: 615.09px; position: absolute; background: linear-gradient(270deg, #78739C 0%, #E7D2BC 100%); border-radius: 45px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
            <div style="width: 220px; text-align: center; color: black; font-size: 24px; font-family: Martian Mono; font-weight: 300; word-wrap: break-word">Продолжить путешествие</div>
        </div>
    </div>
    <div style="width: 577px; height: 117px; left: 863px; top: 6px; position: absolute; text-align: center; color: #111111; font-size: 48px; font-family: Seymour One; font-weight: 400; word-wrap: break-word">Раннее Средневековье </div>
</div>
</body>
</html>