.btn {
        display: flex;
        width: 354px;
        height: 85px;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        background: linear-gradient(90deg, #F1C2AD 0%, #F67C48 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
        color: #000;
        text-align: center;
        font-family: "Martian Mono";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
   }
   .btn:hover {
        background: #F67C48 ;
   }
   .btn.focus {
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    }
    .btn1 {
    display: flex;
    width: 181px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Kings;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    body{
    background: linear-gradient(180deg, rgba(235, 158, 63, 0.12) 0%, rgba(223, 149, 59, 0.12) 9.49%, rgba(226, 151, 60, 0.12) 9.5%, rgba(133, 89, 36, 0.12) 100%);
    }